h2, h1, form, ul, #quote, #weather, #login-form input {
    text-align: center;
    color: white;
}
h2 {
    font: 300 12rem/0 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}
h1, p {
    transition:color 0.5s ease-in-out;
    font: 4rem/0 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    border: 1px solid #cccccc;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
#login-form input {
    width: 30rem;
    border: 0;
    background: transparent;
    border-bottom: 3px solid #ffff;
    /* caret-color: #ffff; */
    font-size: 3rem;
}
#login-form input:focus {
    outline: none;
}
.hidden {
    display: none;
}
img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:90%;
}
#weather span {
    display: block;
    text-align: right;
}