/* body{
    background-color: blue;
} */

h1{
    color: blueviolet;
    transition:color 0.5s ease-in-out;
}

/* className = clicked */
.clicked {
    color: tomato;
}

.sexy-font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hidden{
    display: none;
}